
<h1>
  <a href="/">Bunsenate</a>
</h1>

  <div class="background">
    <p id="bunsenism"><%= @quotes.sample[:description] %><p>
    <div id="face">
      <%= image_tag('BunsenAuston.jpg') %>
    </div>
  </div>


  <!--
    <div class="background">
      <p id="bunsenism"><%= @quotes.sample[:description] %><p>
      <div id="face">
        <%= image_tag('BunsenAuston.jpg') %>
      </div>
    </div> -->
