/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  height: 100vw;
  background-image: url("wood_floor.jpg");
  background-size: cover;
}

#face img{
  /*position: absolute; z-index: -1;*/
  display: block;
  margin: 0 auto;
  border: 5px solid black;
  max-width: 100%;
}

#bunsenism {
  position: relative;
  top: 15vw;
  /*text-align: center;*/
  font-family: "Playball", cursive;
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1;
}

p {
  text-align: center;
}

h1 {
  position: relative;
  top: 5vw;
  text-align: center;
  font-family: "Playball", cursive;
  font-size: 5em;
  font-weight: bold;
}

h1 a:visited {
  color: black;
  }

h1 a:hover {
  color: grey;
}

#font_color {
  color: black;
  font-weight: bold;
}

.white_background {
  background-color: white;
}
